<%- include('header') %>

<style>

.banner-sub {
  opacity: 0;
  transform: translateY(50%);
  animation: stepUpDown 3s ease-in-out infinite;
}

@keyframes stepUpDown {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%);
  }
}

.banner-sub:nth-child(2) {
  animation-delay: 1s;
}
</style>


<section id="home-section" class="hero">
	<div class="home-slider owl-carousel">
	  <% banners.forEach(function(banner) { %>
		<div class="slider-item" style="background-image: url('<%= banner.image %>');">
		  <div class="overlay"></div>
		  <div class="container">
			<div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
			  <div class="col-md-12 ftco-animate text-center">
			
        <h4 class="subheading mb-2 text-warning  "><%= banner.title %></h4>

				<p class="subtext  text-white banner-sub"><%= banner.subtitle %></p>
				<p>
				  <a href="<%= banner.link %>" class="btn btn-info">View Details</a>
				</p>
			  </div>
			</div>
		  </div>
		</div>
	  <% }); %>
	</div>
  </section>
  
  


    <section class="ftco-section">
			<div class="container ">
				<div class="row no-gutters ftco-services justify-content-center">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Free Shipping</h3>
                <span>On order over ₹ 100</span>
              </div>
            </div>      
          </div>
          
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Superior Quality</h3>
                <span>Quality Products</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Support</h3>
                <span>24/7 Support</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section ftco-category ftco-no-pt">
			<div class="container">
				<div class="row">
					
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-6 order-md-last align-items-stretch d-flex">
								<div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(/user/images/category.jpg);">
									<div class="text text-center">
										<h2 class="text-dark" style="font-style: normal; font-weight: 600; font-size:30px;">Our Products</h2>
										<p>Upgrade your productivity with our powerful laptops.</p>
										<p><a href="/shop" class="btn btn-black">Shop now</a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/user/images/category-1.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="/shop">Apple</a></h2>
									</div>
								</div>
								<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/user/images/category-2.jpg);">
									<div class="text px-3 py-1">
										<h2 class="mb-0"><a href="/shop">Acer</a></h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<div class="col-md-4">
						<div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/user/images/category-3.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="/shop">HP</a></h2>
							</div>		
						</div>
						<div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/user/images/category-4.jpg);">
							<div class="text px-3 py-1">
								<h2 class="mb-0"><a href="/shop">MSI</a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-section">
    	<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          
            <h2 class="mb-4">Featured Products</h2>
            <p>Immerse yourself in stunning visuals and powerful performance with our premium laptops</p>
          </div>
        </div>   		
    	</div>

    	<div class="container">
    		<div class="row">
    			<% product.forEach(function(product) { %>
					<div class="col-md-6 col-lg-3 ftco-animate">
				  
						<div class="product">
						  
							<a href="/single_product/<%= product._id %>" class="img-prod"><img class="img-fluid" src="/<%= product.photo[0] %>" alt="Colorlib Template">
								<span class="status">15%</span>
								<div class="overlay"></div>
							</a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3><a href="#"><%= product.name %></a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale"><%= product.price %></span></p>
									</div>
								</div>
								<div class="bottom-area d-flex px-3">
									<div class="m-auto d-flex">
										<a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
											<span><i class="ion-ios-menu"></i></span>
										</a>
										<% if (locals.User) { %>
                      <a class="buy-now d-flex justify-content-center align-items-center mx-1 btn-transparent" href="#" onclick="addToCart('<%= product._id %>')">
                        <span><i class="ion-ios-cart"></i></span>
                        </a>
                        
                        
                    <a href="/shop" class="heart d-flex justify-content-center align-items-center text-center ">
                      <span><i class="ion-ios-heart"></i></span>
                    </a>
                  
									  <% } else { %>
                      <a class="buy-now d-flex justify-content-center align-items-center mx-1 btn-transparent" href="#"  ONCLICK="alert('you need to Login first!')">
                        <span><i class="ion-ios-cart"></i></span>
                        </a>
                        <a href="#" class="heart d-flex justify-content-center align-items-center text-center" ONCLICK="alert('you need to Login first!')">
                          <span><i class="ion-ios-heart"></i></span>
                        </a>
										  <% } %>	
										
									</div>
								</div>
							</div>
					  
						</div>
					   
					</div>
					<% }); %>
					

    		</div>
    	</div>
    </section>

		
		<section class="ftco-section img" style="background-image: url(/user/images/apple_offer.jpg); opacity: 0.9;">
    	<div class="container">
				<div class="row justify-content-end">
          <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
          	<span class="subheading text-dark">Best Price For You</span>
            <h2 class="mb-4 text-warning">Deal of the day</h2>
            <p class="text-black ">Stay connected and productive with our reliable laptops. Whether for work or leisure,
               our laptops offer the performance and reliability you can count on.</p>
            <h3 class="text-muted"><a href="#">APPLE</a></h3>
            <span class="price text-black">₹ 180000 <a href="#">now ₹ 130000 only</a></span>
            <div id="timer" class="d-flex mt-5">
						  <div class="time" id="days"></div>
						  <div class="time pl-3" id="hours"></div>
						  <div class="time pl-3" id="minutes"></div>
						  <div class="time pl-3" id="seconds"></div>
						</div>
          </div>
        </div>   		
    	</div>
    </section>

    <section class="ftco-section testimony-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4">Our satisfied customer says</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/user/images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"I am absolutely thrilled with my new laptop from Lap Land! The performance is top-notch, and it handles all my tasks with ease. "</p>
                    <p class="name">Garreth Smith</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/user/images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">" The laptop's sleek design and powerful features exceeded my expectations.  Thank you, Lap Land!"
                      <br>
                    </p>
                    <p class="name">Michael</p>
                    <span class="position">Interface Designer</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url(/user/images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5 pl-4 line">"I am impressed by the quality and performance of the laptop I bought from Lap Land. It's a great value for the price"</p>
                    <p class="name">Daniel</p>
                    <span class="position">Builder</span>
                  </div>
                </div>
              </div>
            
              
             
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr>

		<section class="ftco-section ftco-partner">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="/user/images/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="/user/images/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="/user/images/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="/user/images/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate">
    				<a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    
    <br>
   


    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<script>
        setTimeout(() => {

            document.getElementById('msg').style.display="none"
            
        }, 3000);
    </script>

    <script>
      function addToCart(productId) {
        console.log("working");
        axios
        .post('/addToCart/' + productId)  // Update the URL pattern to include the productId
        .then((response) => {
          if (response.status === 200) {
          Toastify({
            text: "Product added successfully",
            duration: 3000,
            className: "info",
            gravity: "bottom",
            position: "center",
            style: {
            background:
              "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
            },
          }).showToast();
          }
        })
        .catch((err) => {
          Toastify({
          text: "Product is not added to cart",
          duration: 3000,
          className: "info",
          gravity: "bottom",
          position: "center",
          style: {
            background:
            "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
          },
          }).showToast();
        });
      }
      </script>
	
	<%- include('footer') %>