<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/invoice.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<style>
    @page {
  size: A4; /* Set the page size to A4 or any other appropriate size */
  margin: 0; /* Remove any margins */
}
</style>
<body>
    <div class="text-right "> <!-- Added "text-right" class -->
        <button  type="button" id="download-button">Download</button>
       </div>
  
    <div  class="container contai">
        <div id="invoice" style=" margin: auto;  width: 75%">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">
                    <div class="invoice-title">
                        <h4 class="float font-size-15">Invoice  <span class="badge bg-success font-size-12 ms-2">Paid</span></h4>
                        <div class="mb-4">
                           <h2 class="mb-1 text-warning">LAP LAND</h2>
                        </div>
                        <div class="text-muted">
                            <p class="mb-1"> 237/109, HAL Old Airport Rd, Chowdeshwari Layout, Marathahalli Village,
                                 Marathahalli, Bengaluru, Karnataka 5600371</p>
                            <p class="mb-1"><i class="uil uil-envelope-alt me-1"></i>lapland@gmail.com</p>
                            <p><i class="uil uil-phone me-1"></i> +91 8281024176</p>
                        </div>
                    </div>

                    <h3 class="pull-right">Order Id # <%= order_data._id.toString().slice(-8) %></h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                        <strong>Billed To:</strong><br>
                            <ul class="payment_address" style="list-style: none;">
                                <li>Fullname: <span><%= order_data.user.name%> </span></li>       
                                <li>Address: <span><%= order_data.address.address %> </span></li>       
                                <li>Phone No: <span><%= order_data.address.phone %> </span></li>       
                                <li>Pincode: <span><%= order_data.address.pincode %> </span></li>       
                                <li>City/Town: <span><%= order_data.address.city %> </span></li>       
                                <li>Email: <span><%= order_data.address.email %> </span></li>       
                            </ul>
                    
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                        <strong>Shipped To:</strong><br>
                        <ul class="payment_address" style="list-style: none;">
                            <li>Fullname: <span><%= order_data.user.name %> </span></li>       
                            <li>Address: <span><%= order_data.address.address %> </span></li>       
                            <li>Phone No: <span><%= order_data.address.phone %> </span></li>       
                            <li>Pincode: <span><%= order_data.address.pincode %> </span></li>       
                            <li>City/Town: <span><%= order_data.address.city %> </span></li>       
                            <li>Email: <span><%= order_data.address.email %> </span></li>       
                        </ul>
                
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Payment Method:</strong><br>
                           <%= order_data.payment_method %>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Order Date:</strong><br>
                            <%= order_data.createdAt.toLocaleDateString('en-US', { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %>
                            <br><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Order summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td><strong>Item</strong></td>
                                        <td class="text-center"><strong>Price</strong></td>
                                        <td class="text-center"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Totals</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <% order_data.items.forEach(function(items,index) { %>
                                    <tr>
                                        <td><%= items.product.name %></td>
                                        <td class="text-center"><%= items.product.price %></td>
                                        <td class="text-center"><%= items.quantity %></td>
                                        <td class="text-right"><% items.product.price*items.quantity %></td>
                                    </tr>
                                    <% }) %>
                                    
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                        <td class="thick-line text-right">₹<%= order_data.total-50 %></td>
                                    </tr>
                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Discount</strong></td>
                                        <td class="thick-line text-right"> <span>-</span> ₹<%= order_data.discount|| 0 %></td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>Shipping</strong></td>
                                        <td class="no-line text-right">₹<%= order_data.shipping_charge%></td>
                                    </tr>
                                    <tr>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line text-center"><strong>Total</strong></td>
                                        <td class="no-line text-right">₹<%= order_data.total %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<!-- PDF AND EXCEL -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
    const button = document.getElementById('download-button');

    function generatePDF() {
        // Choose the element that your content will be rendered to.
        const element = document.getElementById('invoice');
        // Choose the element and save the PDF for your user.
        html2pdf().from(element).save();
    }

    button.addEventListener('click', generatePDF);

   
</script>
</body>
</html>