<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lap Land Ecommerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/ionicons.min.css">
    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/user/css/flaticon.css">
    <link rel="stylesheet" href="/user/css/icomoon.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/addressShow.css">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
  </head>
  
  <body class="goto-here">
		
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
		  <a class="navbar-brand" href="index">Lap Land</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		  </button>
	  
		  <div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item active"><a href="/index" class="nav-link">Home</a></li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
				<div class="dropdown-menu" aria-labelledby="dropdown04">
				  <a class="dropdown-item" href="/shop">Shop</a>
				
				</div>
			  </li>
			  <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
			  <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
			  <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	  
			  <% if (locals.User) { %>
			  <% if (User.isLogedin) { %>
			  <li class="nav-item"><a href="/order/<%= User._id %>" class="nav-link">Orders</a></li>
			  <% } %>
			  <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
			  <% } else { %>
			  <li class="nav-item cta cta-colored"><a href="/login" class="nav-link"><span class="icon-shopping_cart"></span>[0]</a></li>
			  <% } %>
	    
			  <% if (locals.User) { %>
			  <% if (User.isLogedin) { %>
			 
			  <form action="/log_out/<%= User._id%>" method="post">
				<li><button type="submit" class="btn log_out mt-3 ml-5 text-danger ">Logout</button></li>
			  </form>
			  <% } %>
			  <% } else { %>
			  <li class="nav-item mt-3 ml-3 "><a href="/login" class="btn">Sign In</a></li>
			  <% } %>
			
			</ul>
		  </div>
		  <!-- sign in -->
		  <div class="sign_in">
		  </div>
		  <!-- //sign in -->
		</div>
	  </nav>
	  <!-- END nav -->
	  


	<% if(locals.message) { %>
		<div id="msg" class="alert alert-success"><%- locals.message -%></div>
		<%}%>
	<% if(locals.msg) { %>
		<div id="msg" class="alert alert-success"><%- locals.msg -%></div>
		<%}%>
    
    <div class="container py-5">


        


        <!-- For demo purpose -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h1 class="display-6 mt-3" style="font-family: Arial Rounded MT Bold">Payment Methods</h1>
            </div>
        </div> <!-- End -->
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card ">
                    <div class="card-header">
                        <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                            <!-- Credit card form tabs -->
                            <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3 text-info">
                                <li class="nav-item"> <a data-toggle="pill" href="#cod" class="nav-link "> <i class="fas fa-money-bill-wave mr-2"></i> Cash on Delivery </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#paypal" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Paypal </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#razorpay" class="nav-link "> <i class="fab fa-cc-stripe mr-2"></i> Razorpay </a> </li>
                                <li class="nav-item"> <a data-toggle="pill" href="#wallet" class="nav-link "> <i class="fa-solid fa-wallet"></i>Wallet</a> </li>
                               
                            </ul>
                        </div> <!-- End -->
                 
                        <div class="tab-content">
                            <div id="cod" class="tab-pane fade pt-3">
                                <h6 class="pb-2">Pay using COD</h6>
                               <label for="">Pay only ₹ <%=subtotal%> as cash on delivery <p class="text-info">Details</p></label>
                               <form action="/placeOrder/<%= address._id%>" method="post">
                               <button type="submit" name="payment_method" value="COD" id="COD" class="btn btn-info"><i class="tab-pane fade mr-2"></i>Pay Now</button> 
                            </form>
                                <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                            </div> <!-- End -->
                           
                        <!-- Paypal info -->
                        <div id="paypal" class="tab-pane fade pt-3">
                            <h6 class="pb-2">Select your paypal account type</h6>
                            <div class="form-group "> <label class="radio-inline"> <input type="radio" name="optradio" id="paypalRadio" checked> Domestic </label> <label class="radio-inline"> <input type="radio" name="optradio" class="ml-5">International </label></div>
                            <form action="/placeOrder/<%= address._id%>" method="post">
                                <button type="submit" value="paypal" name="payment_method" id="paypalButton" class="btn btn-info">
                                    <i class="fab fa-paypal mr-2"></i> Log into my Paypal
                                </button>
                        </form>
                            <p class="text-muted"> Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order. </p>
                        </div> <!-- End -->
                        

                        <div id="razorpay" class="tab-pane fade pt-3">
                            <h6 class="pb-2">Select your Razorpay account type</h6>
                         
                            <form  id="razorpayForm">
                                <input type="hidden" value="razorpay" name="payment_method" >
                                <button type="submit"  class="btn btn-info">
                                    <i class="fab fa-cc-stripe mr-2"></i> Pay with Razorpay
                                </button>
                            </form>
                            <p class="text-muted">
                              Note: After clicking on the button, you will be directed to a secure gateway for payment. After completing the payment process, you will be redirected back to the website to view details of your order.
                            </p>
                          </div>

                          <div id="wallet" class="tab-pane fade pt-3">
                            <h6 class="pb-2">Pay using Wallet</h6>
                            <label for="">Pay only ₹ <%=subtotal%> Using Wallet <p class="text-info">Details</p></label>
                            <form action="/placeOrder/<%= address._id%>" method="post">
                              <% if (balance && balance >= subtotal) { %> <!-- Check if balance exists and is sufficient -->
                                <button type="submit" name="payment_method" value="wallet" id="wallet" class="btn btn-info"><i class="tab-pane fade mr-2"></i>Pay Now</button> 
                              <% } else { %> <!-- Insufficient balance condition or balance doesn't exist -->
                                <p>Insufficient balance. Please choose another payment method.</p>
                              <% } %>
                            </form>
                          </div> <!-- End -->
                        
                          
                          
                        </div> 
                           
                        </div> <!-- End -->
                        <!-- End -->
                    </div>
                </div>
            </div>

            <ul class="address-list list-group">
              <h3>Billing Address</h3> 
                
                  <li class="address-item list-group-item" >
                    <div class="address-details">
                      <span class="address-name"><%= address.name %></span>
                      <span class="address-info"><%= address.address %></span>
                      <span class="address-info">Phone: <%= address.phone %></span>
                      <span class="address-info">Pin Code: <%= address.pincode %></span>
                      <span class="address-info">City: <%= address.city %></span>
                      <span class="address-info">Email: <%= address.email %></span>
                    </div>
                    
                  </li>
           
          
            </ul>
  

        </div>

        
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
       
<script>

$(document).ready(function(){
  $('#razorpayForm').submit(function(e){
    e.preventDefault();
    var formData = $(this).serialize();
    console.log(formData,"Razorpay form submitted");

    $.ajax({
      url: "/placeOrder/<%= address._id %>",
      type: "POST",
      data: formData,
      success: function(res){
        console.log(res,"Success");

        if(res.success===true){
            console.log("Success aaaaaaaaaaaaaaaaaaaaaaaaaaa");
            console.log(res)
            console.log(res.details,"detail")

          var options = {
      
            "key": res.details.key_id,
            "order_id": res.details.order_id,
            "amount": res.details.amount ,
            "order_id": res.details.order_id,
            "amount": res.details.amount,
            "currency": "INR",
            "name": res.details.product_name,
            "image": "https://dummyimage.com/600x400/000/fff",
            "handler": function (response){
              alert("Payment Succeeded");
              console.log("Payment SuccessFull");
              console.log(response, "dnfjnewfewbhfesbhf");
              verifyPayment(response,res.details.order_id);
            },

           
            "prefill": {
              "name": res.details.user_data.name,
              "contact": res.details.user_data.contact,
              "email": res.details.user_data.email
            },
            "notes": {
              "description": "My Description"
            }
          };
          console.log(options,"mnfewfewf")
          var razorpayObject = new Razorpay(options);
          
          razorpayObject.open();
          razorpayObject.on('payment.failed', function (response){
            alert("Payment Failed");
          });
        } else {
          alert(res.msg);
        }
      }
    });
  });
});


        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
          })

function verifyPayment(payment,order_id){
    $.ajax({
        url:"/verifySignature",
        type:"POST",
        data:{
            payment,order_id
        },
        error:function(err){
            console.log(err)
        }
    })
}

        </script>

</body>
</html>