<%- include('header') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	height{

height: 100vh;
}

.form{

position: relative;
}

.form .fa-search{

position: absolute;
top:20px;
left: 20px;
color: #9ca3af;

}

.form span{

	position: absolute;
right: 17px;
top: 13px;
padding: 2px;
border-left: 1px solid #d1d5db;

}

.left-pan{
padding-left: 7px;
}

.left-pan i{

padding-left: 10px;
}

.form-input{

height: 55px;
text-indent: 33px;
border-radius: 10px;
}

.form-input:focus{

box-shadow: none;
border:none;
}
.dropdown-menu.fade {
    opacity: 0;
    transition: opacity 0.3s;
}

.dropdown.show .dropdown-menu.fade {
    opacity: 1;
}
.search-button {
  background-color: #dddfe2;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #b6bec7;
}

</style>


  <section class="ftco-section">
	
	
	<div class="container">
		
		
		<form action="/search_product" method="post">
			
		<div class="container">
			<div class="row height d-flex justify-content-center align-items-center">
				
			  <div class="col-md-6">
				<div class="form">	
				  <i class="fa fa-search"></i>
				  <input type="search" class="form-control form-input" placeholder="Search" name="product" required="" >
				  <span class="left-pan"><i class="fa fa-microphone"></i></span>
				</div>
				</div>
				<span class="input-group-btn">
					<input type="submit" value="Search" class="search-button">
				  </span>

			</div>

			
		  </div>
		</form>



		  <div class="container">
			<div class="dropdown d-flex justify-content-end mt-5">
				<button type="button" class="dropdown-toggle search-button" id="dropdownMenuReference" data-toggle="dropdown">
					Sort By
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
					<a class="dropdown-item" href="/shop?sortBy=low-to-high">Price, low to high</a>
					<a class="dropdown-item" href="/shop?sortBy=high-to-low">Price, high to low</a>
				</div>
			</div>
		</div>
<br>

		
			<div class="row justify-content-center">
			<div class="col-md-10 mb-5 text-center">
				<ul class="product-category list-unstyled">
				<li><a href="/shop" class="active">All</a></li>
				<% Category.forEach(function(Category) { %>
					<li><a href="/filter/<%= Category._id %>" class="active"><%= Category.category %></a></li>
				<% }); %>
				</ul>
			</div>
			</div>

		
			
		  <div class="row">
			<% if (products.length > 0) { %>
			  <% products.forEach(function (product) { %>
					
			  <div class="col-md-6 col-lg-3 ftco-animate">
			
				  <div class="product">
					
					  <a href="/single_product/<%= product._id %>" class="img-prod"><img class="img-fluid" src="/<%= product.photo[0] %>" alt="Colorlib Template">
						  <span class="status">15%</span>
						  <div class="overlay"></div>
					  </a>
					  <div class="text py-3 pb-4 px-3 text-center">
						  <h3><a href="#"><%= product.name %></a></h3>
						  <div class="d-flex">
							  <div class="pricing">
								  <p class="price"><span class="mr-2 price-dc"></span><span class="price-sale">₹ <%= product.price %></span></p>
							  </div>
						  </div>
						  <div class="bottom-area d-flex px-3">
							  <div class="m-auto d-flex">
								  <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
									  <span><i class="ion-ios-menu"></i></span>
								  </a>
								  <% if (locals.User) { %>
								
									<a class="buy-now d-flex justify-content-center align-items-center mx-1 btn-transparent" href="#" onclick="addToCart('<%= product._id %>')">
										<span><i class="ion-ios-cart"></i></span>
									  </a>

									  <a href="/wishlist/<%= product._id %>" class="heart d-flex justify-content-center align-items-center text-center ">
										<span><i class="ion-ios-heart"></i></span>
									</a>

								
								<% } else { %>
								
										<a class="buy-now d-flex justify-content-center align-items-center mx-1 btn-transparent" href="#"  ONCLICK="alert('you need to Login first!')">
											<span><i class="ion-ios-cart"></i></span>
										  </a>
										  <a href="#" class="heart d-flex justify-content-center align-items-center text-center" ONCLICK="alert('you need to Login first!')">
											<span><i class="ion-ios-heart"></i></span>
										</a>
									<% } %>	
								  
							  </div>
						  </div>
					  </div>
				
				  </div>
				 
			  </div>
			  <% }); %>
			  <% } else { %>
				<p class="text-center pl-5 text-danger">No products found</p>
			  <% } %>
			</div>
			  
			  


		  
		  <div class="row mt-5">
			<div class="col text-center">
				<div class="block-27">
				  <ul>
					<% if (currentPage > 1) { %>
					  <li><a href="/shop?page=<%= currentPage - 1 %>">&lt;</a></li>
					<% } %>
			  
					<% for (let i = 1; i <= totalPages; i++) { %>
					  <% if (i === parseInt(currentPage)) { %>
						<li class="active"><span><%= i %></span></li>
					  <% } else { %>
						<li><a href="/shop?page=<%= i %>"><%= i %></a></li>
					  <% } %>
					<% } %>
			  
					<% if (currentPage < totalPages) { %>
					  <li><a href="/shop?page=<%= parseInt(currentPage) + 1 %>">&gt;</a></li>
					<% } %>
				  </ul>
				</div>
			  </div>
			</div>
		</div>
       </section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
	<script>
        setTimeout(() => {

            document.getElementById('msg').style.display="none"
            
        }, 3000);
    </script>
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- Add this script after including the Toastify library -->
<script>
	function addToCart(productId) {
  axios
    .post('/addToCart/' + productId + "?page=shop")
    .then(function (response) {
      if (response.data.message === 'Added to cart') {
        // Show success toast notification
        Toastify({
          text: 'Product added to cart',
          duration: 3000,
          gravity: 'bottom',
          position: 'center',
          backgroundColor: '#36ab60',
          stopOnFocus: true,
        }).showToast();
      } else if (response.data.message === 'out of stock') {
        // Show out of stock toast notification
        Toastify({
          text: 'Product is out of stock',
          duration: 3000,
          gravity: 'bottom',
          position: 'center',
          backgroundColor: '#f44336',
          stopOnFocus: true,
        }).showToast();
      }
    })
    .catch(function (error) {
      // Show error toast notification
      Toastify({
        text: 'Failed to add product to cart',
        duration: 3000,
        gravity: 'bottom',
        position: 'center',
        backgroundColor: '#f44336',
        stopOnFocus: true,
      }).showToast();
    });
}
  </script>
  


	<%- include('footer') %>